.container {
    background-color: rgb(224, 247, 224);
    width: 820px;
}

h1 {
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    margin-top: 70px;
    margin-bottom: 50px;
}

.expense-tracker {
    border-collapse: collapse;
    min-width: 750px;
}

.expense-tracker * {
    font-family: sans-serif;
    padding: 10px 20px;
    border-bottom: 2px solid green;
}

.expense-tracker td {
    padding: 10px;
}

.input,
.delete-entry {
    height: 30px;
    font-size: 14px;
    padding: 0 10px;
    margin:0;
    box-sizing: border-box;
}

.input {
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
}

.input:focus {
    border-color: grey
}

.delete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    background: none;
    color: red;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.delete:hover {
    background: rgba(255, 0, 0, 0.1);
}

.controls,
.summary {
    text-align: right;
}


